.list-table {
  width: auto;
  margin: 75px 30px 10px 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  :first-child {
    position: relative;
  }

  .list-table-header {
    display: flex;
    flex-direction: column;
    flex-basis: 2;
    flex-wrap: nowrap;
    position: absolute;
    width: 135px;
    height: 33px;
    top: -65px;
    left: calc(100vw - 340px);
    border: 1.2px solid white;
    border-radius: 4px;

    background-color: #292828;

    overflow: hidden;
    justify-content: start;
    align-self: center;
    z-index: 5;

    &:hover {
      height: 157px;
      transition: all 0.5s;
    }
    .header-title {
      padding: 5px 0px;
      width: 100% !important;

      background-color: transparent !important;

      border-bottom: 1px solid #242323;

      font-size: 1.5em !important;
      text-align: center !important;

      color: $font-color_base !important;

      a.link.sort {
        font-size: 0.8em !important;

        color: $font-color_base-hover !important;
        &:hover {
          color: $font-color_base-hover !important;
        }
      }
      &.status {
        pointer-events: none;
        &::before {
          color: $font-color_base;
          content: "🢐 🢒";
          transform: rotate(90deg);
          display: inline-block;

          margin: -3px 0px 0px -2px;
          font-size: 1.1em !important;
        }
        &::after {
          content: "Sort";
          padding: 0px 5px;
        }
        &:hover {
          color: $font-color_base-hover;
        }
      }
      &.number {
        visibility: collapse;
        display: none;
      }
      &.image {
        visibility: collapse;
        display: none;
      }
      &.tags {
        visibility: collapse;
      }
      &.title {
        display: block;
        padding-left: 0px;
      }
    }
  }
  .list-item {
    .list-table-data {
      .data:not(.image) {
        position: relative;
        &.status {
          width: 10px;
        }
      }
      .data.image {
        padding: 0px !important;
        .link.sort {
          border-radius: 7px;
          box-shadow: 1px 3px 3px rgba($color: #000000, $alpha: 0.4);
          width: 220px;
          height: 300px;
          background-position-x: center;
          background-position-y: top;
          filter: brightness(1);
          &:hover {
            filter: brightness(0.75) saturate(0.9);
            transition: all 0.6s;
          }
        }
        img {
          width: 220px;
          height: 300px;
          opacity: 0;
        }
      }
    }
    .more-info{
      display: block;
      position: absolute;
      z-index: 2 !important;
      top: 31px;
      left: 3px;
      padding: 5px;

      color: white !important;

      height: 194px;
      overflow-y: scroll;

      border-bottom: 0px solid black;

      
      opacity: 0;
      display: none;
      .more-content{
        position: relative;
        padding: 2px;
      }
      small{
        display: none;
      }
    }
  }
}

.list-table-data {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 302px;
  font-family: $font-family_base !important;
  .data {
    border-bottom: 0px solid #000000 !important;

    &.status {
      position: absolute !important;

      top: 229px;

      border-radius: 0px 0px 7px 7px;

      visibility: hidden;
    }
    &.number::before {
      content: "#";
    }
    &.number {
      position: absolute !important;
      text-align: left !important;
      top: 5px;
      left: 5px;
      color:white;
      text-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.8);
      font-family: $font-family_base !important;
      font-weight: bold !important;
      font-size: 1.1em !important;
      z-index: 1;
    }
    &.title {
      display: block;

      font-family: $font-family_base !important;
      text-align: center !important;

      bottom: 2px;
      left: -1px;

      position: absolute !important;
      width: calc(100% - 29px);

      padding: 5px 15px !important;

      border-radius: 0px 0px 7px 7px;

      &.clearfix::after {
        display: block;
        content: ".";
        visibility: hidden;
        height: 0;
        clear: both;
      }

      .link {
        text-align: left;
        font-size: 14px !important;

        color: #fff !important;

        width: 100%;
        max-height: 60px;

        text-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.8) !important;

        overflow: hidden;
        display: block;
      }

      .icon-watch {
        display: none;
      }

      .content-status {
        position: relative !important;
        font-weight: bold;
        font-size: 1.1em !important;
        top: -172px;
        left: 120px;
        transform: rotate(90deg);
        color: orange !important;
        text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.8);
        line-height: 1 !important;
        display: block;
        letter-spacing: 2px;
        text-align: left;

        text-transform: uppercase;
      }

      .add-edit-more {
        position: relative;
        display: block;
        right: -27px;
        bottom: -24px;
      }
    }
    &.score {
      position: absolute !important;
      bottom: 0;
      padding: 2px 15px;
      color: white;

      font-family: $font-family_base !important;
      font-size: 12px;
      text-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.6) !important;

      .link {
        display: inline-flex;

        &::before {
          position: relative;
          font-size: 12px;
          content: "Scored " !important;
          white-space: pre;
        }
      }
    }
    &.type {
      position: absolute !important;
      opacity: 0;
      display: none;
    }
    &.progress {
      position: absolute !important;
      font-size: 12px !important;
      bottom: 0;
      right: 0;

      text-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.6) !important;
      font-family: $font-family_base;

      padding: 2px 15px;

      div {
        color: white;
      }
    }
    &.tags {
      position: absolute !important;
      top: 10px;
      width: 50px;
      font-family: $font-family_base;
      .edit {
        position: absolute;
        top: 0px;
        left: 170px;
        color: white !important;
        font-size: 16px !important;
        font-weight: bold !important;
      }
    }
  }
}

.list-table .list-table-data .data a {
  color: white !important;
  font-weight: normal !important;
}

.data.score .link {
  cursor: auto;

  .score-label {
    font-weight: bold;
    font-size: 1.1em;
  }

  .score-na {
    font-size: 0;
    order: -1;
    &::before {
      content: "Not ";
      font-size: 12px;
      font-weight: normal !important;
    }
  }

  .score-9 {
    &::before {
      position: absolute;
      content: "";
      width: 221px;
      height: 5px;
      border-top: 3px solid $color-excellent;
      left: -122px;
      top: calc(-100% - 265px);
      border-radius: 7px 7px 0px 0px;
    }
    &::after {
      position: absolute;
      content: " Excellent ";
      left: -55px;
      top: calc(-100% - 277px);
      font-size: 14px;
      letter-spacing: 2px;
      padding: 4px;

      color: #252525;
      text-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 1);

      border-radius: 3px;

      background-color: $color-excellent;
    }
  }
  .score-10 {
    &::before {
      position: absolute;
      content: "";
      width: 221px;
      height: 5px;
      border-top: 3px solid $color-masterpiece;
      left: -122px;
      top: calc(-100% - 265px);
      border-radius: 7px 7px 0px 0px;
    }
    &::after {
      position: absolute;
      content: " Masterpiece ";
      left: -65px;
      top: calc(-100% - 277px);
      font-size: 14px;
      letter-spacing: 2px;
      padding: 4px;

      color: #202020;
      text-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 1);

      border-radius: 3px;
      box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.6);

      background-color: $color-masterpiece;
    }
  }
}

.list-table .list-table-data a:hover:not(.edit-disabled) {
  color: white !important;
}

[data-query*="status"] {
  .onhold ~ .data.score::before {
    content: "On Hold | ";
  }
  .plantowatch ~ .data.score::before {
    content: "Planned ";
  }

  .plantowatch ~ .data.score > a.link{
    opacity: 0;
  }

  .watching ~ .data.score::before {
    content: "Current | ";
  }
  .completed ~ .data.score::before {
    content: "Completed | ";
  }
  .dropped ~ .data.score::before {
    content: "Dropped | ";
  }

  .plantowatch ~ .data.title {
    background-color: $color-plantowatch !important;
  }
  .watching ~ .data.title {
    background-color: $color-watching !important;
  }
  .completed ~ .data.title {
    background-color: $color-completed !important;
  }
  .onhold ~ .data.title {
    background-color: $color-onhold !important;
  }
  .dropped ~ .data.title {
    background-color: $color-dropped !important;
  }
}

.list-item {
  transform: scale(0.95);
  &:hover {
    transform: scale(1);
    transition: all 0.3s;
  }
}

.list-item .data:not(.image, .score, .title, .progress) {
  opacity: 0;
}

.progress span:last-of-type {
  opacity: 1;
  font-weight: bold;
  font-size: 1.1em;
  &::after {
    content: " Ep";
  }
}

.list-item:hover .data:not(.image, .type),
.list-item:focus-within .data:not(.image), .list-item:hover .more-info, .list-item:focus-within .more-info {
  transition: all 0.6s;
  opacity: 1 !important;
}

.list-item:hover .data.image, .list-item:focus-within .data.image:hover{
  filter: brightness(0.6) saturate(0.8);
  transition: all 0.6s;
}