// Variables

/*
EVA01

$Revolver:   #271E3D
$Ilusion:    #F5A0BF
$Glacier:    #83ABC3
$Wisteria:   #8B6CB4

*/

$Revolver:   #2f293c;
$Ilusion:    #F5A0BF;
$Glacier:    #83ABC3;
$Wisteria:   #8B6CB4;


//
// Colors
//

$background-color:                              $Revolver;

$body_background-color:                         $Ilusion;

$header-background_color:                       $Ilusion;

$list-menu-float_color:                         $Ilusion;

$list-container-background-color:               $Wisteria;

$footer-block_background-color:                 transparent;

$watching-color:                                transparent;

$menu-float-color:                             $Wisteria;

$menu-float-color-hover:                       $Glacier;

$color-title:                                  #ffffff;

$color-plantowatch:                            #9e72ba88;
$color-watching:                               #384291bb;
$color-onhold:                                 #E7AA1788;
$color-completed:                              #2ba04a88;
$color-dropped:                                #8a0202b7;
$color-allstatus:                              #2b2b2b88;

$color-masterpiece:                             rgb(236, 172, 53);
$color-excellent:                                rgb(206, 205, 205);

//
// Fonts
//

$font-family_base:                               Roboto, Arial, sans-serif;
$font-size_base:                                 16px;
$font-color_base:                                $Ilusion;
$font-color_base-hover:                          $Glacier;

